<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/32d24977ce.js"
            crossorigin="anonymous"></script>
    <style>
        #div-footer {
            text-align: center;
            padding-top: 15px;
            height: 60px;
            width: 100%;
            background-color: #27ae60;
        }

        li a {
            color: white;
        }
        li.format-hello
        {
            padding-top:15px;
            color:white;
        }
    </style>

    <br />
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color: #3b161e;">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "ProductList", "Products")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Index", "Products")</li>
   @*                 <li>@Html.ActionLink("Loại SP", "Index", "Categories")</li>
            <li>@Html.ActionLink("Khách hàng", "Index", "Customers")</li>
            <li>@Html.ActionLink("Đơn hàng", "Index", "OrderProes")</li>*@
                    <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý <span class="caret"></span></a>
            <ul class="dropdown-menu">
               
                     <li>@Html.ActionLink("Đăng nhập", "LoginAccount", "LoginUsers")</li>
                    </ul>
        </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="lienket" style="" href="~/ShoppingCart/ShowCart"><i class="fa-solid fa-cart-shopping"></i></a>
                        @Html.Action("BagCart", "ShoppingCart")

                    </li>
                    <li><a href="/Customers/Create"><span class="glyphicon glyphicon-user"></span>Đăng ký</a></li>
                    <li><a href="/Customers/LoginCus"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
                  @*  <li><a class="lienket" href="@Url.Action("LogOutUser","LoginUsers")">Đăng Xuất</a></li>*@
                    <li class="format-hello">
                        @if (Session["NameCus"] == null)
                        {
                            <span style="color:white"></span>
                        }

                        else
                        {
                            <span><text>Xin Chào: </text> @Session["NameCus"] &nbsp;<a class="lienket" href="@Url.Action("LogOutUser","LoginUsers")">Đăng Xuất</a></span>
                            
                        }
                    </li>
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-2" style="background-color: #ecf0f1; min-height: 600px; ">
                @{ Html.RenderAction("CategoryPartial", "Categories");}

            </div>
            <div class="col-md-10" id="div-content">
                @RenderBody()
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
    <div id="div-footer" style="background-color: #3b161e;">
        <div class="row" style="background-color: #3b161e;">
            <div class="col-md-1" style="background-color: #3b161e;"></div>
            <div class="col-md-3" style="background-color: #3b161e;">
                <p style="color: white; background-color: #3b161e;">
                    <br />
                    <b>CÔNG TY CÀ PHÊ PHỤ LÒNG</b>
                </p>
                <p style="color: #dfe6e9; background-color: #3b161e;">
                    Văn phòng: Tầng 9 toà nhà Handico, ngã tư Phạm Hùng - Mễ Trì, Nam Từ
                    Liêm, Hà Nội
                </p>
                <p style="color: #dfe6e9; background-color: #3b161e;">
                    Dia chi : Km12 Quốc lộ 32, Xã Phú Diễn, Huyện Từ Liêm, Hà Nội
                </p>
            </div>
            <div class="col-md-3" style="background-color: #3b161e;"></div>
            <div class="col-md-4" style="background-color: #3b161e;">
                <p style="color: white; background-color: #3b161e;" >
                    <br />
                    <b>Thông Tin Liên Hệ</b>
                </p>
                <p style="color: #dfe6e9; background-color: #3b161e;">
                    Sales : 024 2260 2028 / 29 - Hotline: 090 622 5503
                </p>
                <p style="color: #dfe6e9; background-color: #3b161e;">Email: pn@gmail.com - Web: pn.vn</p>
            </div>
        </div>
    </div>
</body>

</html>
